#navigation{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: #091B70;
}

#navName {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navName img{
    width: 60px;
    height: 60px;
    border-radius: 70%;
}

#navName h3, h5{
    font-family: "Roboto Light";
    color: white;
}

#navList ul, a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Roboto Light";
    font-size: 14px;
    text-align: end;
}

#navList li{
    margin-top: 5px;
}

#navList{
    margin-left: auto;
    margin-right: 10px
}

#heroSect{
    position: relative;
    background-color: #FFB450;
    height: 400px;
}

#heroTitle{
    margin-top: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Roboto Light";
    width: 100%;
}

#heroTitle h3{
    font-weight: normal;
    margin: 0;
    padding-top: 5px
}

#heroTitle h2{
    margin: 0
}

#heroImg img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom-left-radius: 60%;
}

#heroImg{
    width: 100%;
}

#desc{
    padding-left: 5px;
    display: block;
}

#descDetail h2{
    font-family: "Roboto Light";
    font-size: 20px;
    margin: 0;
    padding-top: 30px;
}

#descDetail p{
    font-family: "Roboto Light";
    text-align: justify;
    font-size: 15px;
    text-indent: 40px;
}

#imgDesc img{
    width: 100%;
    border-radius: 10px;
    height: 270px;
    object-fit: cover;
}

#facilities{
    padding-top: 20px;
    padding-left:5px;
    padding-right:5px;
}

#facTitle h1{
    font-family: "Roboto Light"
}

#facTitle img{
    display: none;
}

#facDetail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    margin-top:30px;
}

#facDetail .facList{
    background-color: #FFB450;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family:"Roboto Light";
    font-size:15px;
    border-radius:10%;
    text-align:center;
    padding: 10px;
    margin: 0;
}

#facDetail p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#facDetail .imgFac{
    width:40px;
    height:40px;
    margin: 0;
}

@media screen and (min-width: 480px) {
    #navigation{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #navList ul, a{
        list-style: none;
        text-decoration: none;
        color: white;
        font-family: "Roboto Light";
        font-size: 14px;
        text-align: end;
        display: flex;
    }

    #navList li{
        margin-top: 5px;
        margin-right: 20px;
    }

    #heroTitle{
        margin-top: auto;
        padding-left: 15px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    #heroSect{
        height: 420px;
    }

    #descDetail h2{
        font-size: 21px;
        margin: 0;
        padding-top: 30px;
    }

    #descDetail p{
        font-size: 16px;
        text-indent: 40px;
    }

    #desc{
        padding-left: 15px;
        padding-right: 15px;
        display: block;
    }

    #imgDesc img{
        width: 100%;
        margin-top: 5px;
        border-radius: 10px;
        height: 280px;
        object-fit: cover;
    }

    #facilities{
        padding-top: 20px;
        padding-left:10px;
        padding-right:10px;
    }

    #facTitle h1{
        font-family: "Roboto Light";
        font-size:22px;
    }

    #facTitle img{
        display: none;
    }

    #facDetail{
        grid-gap:20px;
        margin-top:30px;
    }

    #facDetail .facList{
        font-size:15.5px;
        border-radius:10%;
        padding: 15px;
    }

    #facDetail p{
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #facDetail .imgFac{
        width:45px;
        height:45px;
        margin: 0;
    }

}

@media screen and (min-width: 780px) {
    #navigation{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #navList ul, a{
        font-size: 15px;
    }

    #navList li{
        margin-top: 5px;
        margin-right: 40px;
    }

    #heroSect{
        position: relative;
        background-color: #FFB450;
        height: 400px;
        display: flex;
    }

    #heroTitle{
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: auto;
        font-family: "Roboto Light";
        width: 40%;
    }

    #heroTitle h3{
        margin-top: 10px;
        font-size: 20px;
    }

    #heroTitle h2{
        font-size: 30px;
    }

    #heroImg{
        width: 60%;
    }

    #heroImg img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-bottom-right-radius: 60%;
        border-bottom-left-radius: 0;
    }

    #desc{
        padding-left: 20px;
        display: block;
    }

    #descDetail h2{
        font-family: "Roboto Light";
        font-size: 23px;
        margin: 0;
        padding-top: 40px;
    }

    #descDetail p{
        font-family: "Roboto Light";
        text-align: justify;
        font-size: 17px;
        text-indent: 70px;
    }

    #imgDesc img{
        height: 340px;
        object-fit: cover;
    }

    #facilities{
        padding-top: 30px;
        padding-left:15px;
        padding-right:15px;
    }

    #facTitle h1{
        font-family: "Roboto Light";
        font-size:22px;
    }

    #facTitle img{
        display: none;
    }

    #facDetail{
        grid-gap:40px;
        margin-top:40px;
    }

    #facDetail .facList{
        font-size:15.5px;
        border-radius:10%;
        padding: 15px;
    }

    #facDetail p{
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #facDetail .imgFac{
        width:50px;
        height:50px;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    #navigation{
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #navList ul, a{
        font-size: 16px;
    }

    #navList li{
        margin-top: 5px;
        margin-right: 80px;
    }

    #heroSect{
        position: relative;
        background-color: #FFB450;
        height: 450px;
        display: flex;
    }

    #heroTitle h3{
        margin-top: 10px;
        font-size: 22px;
    }

    #heroTitle h2{
        font-size: 34px;
    }

    #heroImg img{
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-bottom-right-radius: 60%;
        border-bottom-left-radius: 0;
    }

    #desc{
        padding-left: 20px;
        display: flex;
    }

    #descDetail{
        width: 60%;
        padding-right: 30px;
    }

    #descDetail h2{
        font-family: "Roboto Light";
        font-size: 24px;
        margin: 0;
        padding-top: 40px;
    }

    #descDetail p{
        font-family: "Roboto Light";
        text-align: justify;
        font-size: 17.5px;
        text-indent: 50px;
    }

    #imgDesc img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    #imgDesc{
        width: 40%;
        margin-top: 50px;
        padding-right: 20px;
    }

    #facilities{
        padding-top: 30px;
        padding-left:15px;
        padding-right:15px;
        display: flex;
    }

    #facTitle{
        width: 50%;
    }

    #facTitle h1{
        font-family: "Roboto Light";
        font-size:24px;
    }

    #facTitle img{
        display: block;
        width: 90%;
        height: 280px;
        border-radius: 10px;
    }

    #facDetail{
        grid-gap:40px;
        margin-top:80px;
        width: 100%;
    }

    #facDetail .facList{
        font-size:15.5px;
        border-radius:10%;
        padding: 10px;
    }

    #facDetail p{
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #facDetail .imgFac{
        width:50px;
        height:50px;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    #navigation{
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #navList ul, a{
        font-size: 19px;
    }

    #navList li{
        margin-top: 5px;
        margin-right: 100px;
    }

    #navName h3{
        font-size: 20px;
    }

    #navName h5{
        font-size: 15px;
    }

    #heroSect{
        position: relative;
        background-color: #FFB450;
        height: 570px;
        display: flex;
    }

    #heroTitle{
        padding-left: 60px;
        padding-right: 30px;
        margin-bottom: auto;
        font-family: "Roboto Light";
        width: 50%;
    }

    #heroTitle h3{
        margin-top: 10px;
        font-size: 28px;
    }

    #heroTitle h2{
        font-size: 50px;
    }

    #heroImg{
        width: 50%;
    }

    #heroImg img{
        width: 100%;
        height: 570px;
        object-fit: cover;
        border-bottom-right-radius: 60%;
        border-bottom-left-radius: 0;
    }

    #desc{
        padding-left: 40px;
        display: flex;
    }

    #descDetail{
        width: 60%;
        padding-right: 60px;
    }

    #descDetail h2{
        font-family: "Roboto Light";
        font-size: 28px;
        margin: 0;
        padding-top: 70px;
    }

    #descDetail p{
        font-family: "Roboto Light";
        text-align: justify;
        font-size: 19px;
        text-indent: 60px;
        line-height: 1.5;
    }

    #imgDesc img{
        height: 330px;
        width: 100%;
        object-fit: cover;
    }

    #imgDesc{
        width: 40%;
        margin-top: 80px;
        padding-right: 40px;
    }

    #facilities{
        padding-top: 70px;
        padding-left:40px;
        padding-right:40px;
        display: flex;
    }

    #facTitle{
        width: 50%;
    }

    #facTitle h1{
        font-family: "Roboto Light";
        font-size:28px;
    }

    #facTitle img{
        display: block;
        width: 95%;
        height: 370px;
        border-radius: 10px;
        object-fit: cover;
    }

    #facDetail{
        grid-gap:40px;
        margin-top:100px;
        width: 100%;
        margin-left: 60px;
    }

    #facDetail .facList{
        font-size:18px;
        border-radius:10%;
        padding: 20px;
    }

    #facDetail p{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #facDetail .imgFac{
        width:55px;
        height:55px;
        margin: 0;
    }
}
