<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avax Apartment</title>
    <link rel="icon" href="../assets/logo.png" type="image/png">
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
<nav id="navigation">
    <div id="navName">
        <img src="../assets/logo.png">
        <div style="margin-left: 15px;">
            <h3 style="margin-top : 0px; margin-bottom: 0px">Avax Apartment</h3>
            <h5 style="margin-top : 4px;  margin-bottom: 0px">Future Residence</h5>
        </div>
    </div>
    <div id="navList" style="">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#facilities">Facilites</a>
            </li>
            <li>
                <a href="#contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
</header>
<main>
    <div id="heroSect">
        <div id="heroTitle">
            <h1>
                Welcome to Avax Apartment!
            </h1>
            <p>Your Dream Living Space Awaits</p>
        </div>
        <div id="heroImg">
            <img src="../assets/apartment1.jpg">
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>