<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avax Apartment</title>
    <link rel="icon" href="../assets/logo.png" type="image/png">
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
<nav id="navigation">
    <div id="navName">
        <img src="../assets/logo.png">
        <div style="margin-left: 15px;">
            <h3 style="margin-top : 0px; margin-bottom: 0px">Avax Apartment</h3>
            <h5 style="margin-top : 4px;  margin-bottom: 0px">Future Residence</h5>
        </div>
    </div>
    <div id="navList" style="">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#facilities">Facilites</a>
            </li>
            <li>
                <a href="#contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
</header>
<main>
<!--    HERO SECTION-->
    <div id="heroSect">
        <div id="heroImg">
            <img src="../assets/apartment1.jpg">
        </div>
        <div id="heroTitle">
            <h2>
                Welcome to Avax Apartment!
            </h2>
            <h3>Your Dream Living Space Awaits</h3>
        </div>
    </div>

<!--    DISCOVER APARTMENT-->
    <div id="desc">
        <div id="descDetail">
            <h2>
                Discover Avax Apartment
            </h2>
            <p>
                Avax Apartment is a visionary living space designed for the modern young individual. Nestled in the heart of the city, it offers unparalleled comfort and convenience for those seeking a contemporary lifestyle. With its sleek and stylish architecture, Avax Apartment stands as a testament to innovation and sophistication, redefining the concept of urban living.
            </p>
            <p>
                Crafted with the needs of the dynamic youth in mind, Avax Apartment boasts cutting-edge amenities and state-of-the-art facilities. From spacious living areas to vibrant communal spaces, every aspect of Avax Apartment is curated to foster a sense of community and connection. With its blend of comfort, convenience, and modernity, Avax Apartment sets a new standard for contemporary living, offering a haven where young individuals can thrive and embrace the future with confidence.
            </p>
        </div>
        <div id="imgDesc">
            <img src="../assets/apartment2.jpg">
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>